button {
	font-size: 30px;
}

.flex-container {
	display: flex;
	flex-direction: row;
}

#voting {
	flex-direction: column;
}

#community {
	flex-direction: column;
}

#addCommunity {
	flex-direction: row;
}